In [1]:
! pip install pandas pyarrow

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/barbosa/.local/lib/python3.10/site-packages (2.1.1)
Requirement already satisfied: pyarrow in /home/barbosa/.local/lib/python3.10/site-packages (13.0.0)
Requirement already satisfied: numpy>=1.22.4 in /home/barbosa/.local/lib/python3.10/site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/barbosa/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/barbosa/.local/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/barbosa/.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [9]:
import csv
import pandas as pd
import random
from faker import Faker
import unidecode

In [10]:

fake = Faker('pt_BR')

def gera_nome_unico(lista_de_nomes):
    while True:
        nome = fake.first_name() + " " + fake.last_name()
        if nome not in lista_de_nomes:
            return nome

def gera_cliente_aleatorio(id, lista_de_nomes):
    nome = gera_nome_unico(lista_de_nomes)
    data_nasc = fake.date_of_birth(minimum_age=18, maximum_age=90)
    cpf = fake.cpf()
    email = unidecode.unidecode((nome.replace(" ", ".") + "@example.com").lower())

    return [id, nome, data_nasc, cpf, email]

def write_to_csv(data):
    with open('clientes.csv', 'a', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(data)

In [ ]:
lista_de_nomes = set()
for id in range(14000):  # Generate 14000 clients
    client_data = gera_cliente_aleatorio(id, lista_de_nomes)
    lista_de_nomes.add(client_data[1])
    write_to_csv(client_data)

In [6]:
df = pd.DataFrame()

In [20]:
df = pd.DataFrame(columns=['id', 'nome', 'data_nasc', 'cpf', 'email'])
existing_names = set()
for id in range(1,14001):  # Generate 14000 clients
    cliente = gera_cliente_aleatorio(id, existing_names)
    existing_names.add(cliente[1])
    linha = {'id': cliente[0], 'nome': cliente[1], 'data_nasc': cliente[2], 'cpf': cliente[3], 'email': cliente[4]}
    #print(linha)
    df = pd.concat([df, pd.DataFrame([linha])], ignore_index=True)

In [21]:
df.head()

,id,nome,data_nasc,cpf,email
0,1,Isabelly Barbosa,1963-08-15,137.064.289-03,isabelly.barbosa@example.com
1,2,Larissa Fogaça,1933-09-29,703.685.294-10,larissa.fogaca@example.com
2,3,João Gabriel Silveira,1958-05-27,520.179.643-52,joao.gabriel.silveira@example.com
3,4,Pedro Lucas Nascimento,1950-08-23,274.351.896-00,pedro.lucas.nascimento@example.com
4,5,Felipe Azevedo,1986-12-31,759.061.842-01,felipe.azevedo@example.com

In [22]:
df.count()

id           14000
nome         14000
data_nasc    14000
cpf          14000
email        14000
dtype: int64

In [23]:
df.tail()

,id,nome,data_nasc,cpf,email
13995,13996,Noah Caldeira,1947-11-18,649.701.582-58,noah.caldeira@example.com
13996,13997,Anthony Lima,1983-05-25,786.903.415-01,anthony.lima@example.com
13997,13998,Raquel Moura,1982-04-12,819.435.672-55,raquel.moura@example.com
13998,13999,Esther Correia,1995-12-01,734.908.126-03,esther.correia@example.com
13999,14000,João Gabriel Lopes,1989-04-30,743.690.152-43,joao.gabriel.lopes@example.com

In [24]:
df.to_csv("./clientes.csv.gz", sep=';', header=True, index=False, mode='w', encoding='UTF-8', quoting=None, quotechar='"', doublequote=True, compression='gzip', chunksize=10000)